.profile-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile-header {
    margin: 0 2vw;
    font-size: 18pt;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #cfcfcf;
    width: 90%;
    display: block;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
}

.input {
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 2px #777;
    padding: 1vh;
}

.input.readonly {
    background: #eee;
    cursor: default;
}

.form-button {
    position: fixed;
    bottom: 3vh;
    left: calc(350px - 10vw);
    width: 9vw;
    height: 4vh;
    border: none;
    background: #3390EC;
    border-radius: 10px;
    color: #fff;
}